@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

:root {
    /* --primary-color:#0f0f0f;
    --secondary-color: #fff; */
    --primary-color: #fff;
    --secondary-color: #0f0f0f;
    --custom-color: rgba(0, 0, 0, 0.1)
}

body {
    background-color: var(--primary-color);
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

li {
    list-style: none;
}


/*----------- Navigation Bar -----------*/

nav {
    background-color: var(--custom-color);
    backdrop-filter: blur(30px);
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
    position: sticky;
    top: 0;
    z-index: 1;
}

nav img {
    height: 40px;
    border-radius: 100px;
    box-shadow: 1px 1px 10px #fff;
    cursor: pointer;
}

nav .logo {
    text-shadow: 1px 1px 20px #FFF;
    transition: all ease-in-out 0.5s;
}

nav .logo:hover {
    transform: scale(105%);
}

nav p {
    font-size: 2rem;
    color: var(--secondary-color);
}

::placeholder {
    color: #fff;
    text-shadow: 1px 1px 5px #0f0f0f;
}

nav input {
    font-style: italic;
    padding-left: 10px;
    width: 40%;
    outline: none;
    font-size: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 100px;
    background-color: var(--custom-color);
    color: #fff;
    text-shadow: 1px 1px 5px #0f0f0f;
}

/*----------- Navigation Bar 2 -----------*/

section ul {
    display: flex;
    justify-content: center;
    padding: 30px;
    text-transform: uppercase;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

section li {
    font-size: 1.3rem;
    margin-right: 30px;
    cursor: pointer;
    padding: 0;
}

section ul a {
    padding: 0.3em 0;
    position: relative;
    text-decoration: none;
    display: inline-block;
}

section ul a:before,
section ul a:after {
    height: 3px;
    position: absolute;
    content: '';
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    background-color: #ff0000;
    width: 0;
}

section ul a:before {
    top: 0;
    left: 0;
}

section ul a:after {
    bottom: 0;
    right: 0;
}

section ul a:hover:before,
section ul .current a:before,
section ul a:hover:after,
section ul .current a:after {
    width: 100%;
}

section ul li {
    transition: all ease-in-out 0.5s;
}

section ul li:hover {
    transform: scale(120%);
}


/*----------- Main -----------*/

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    row-gap: 100px;
    margin: 30px;
}

main img {
    width: 100%;
    border-radius: 20px;
    border: 5px solid rgb(255, 0, 0);
}

main p {
    font-size: 2rem;
    text-align: center;
}

.thumbnail {
    transition: all 0.5s ease-in-out;
}

.thumbnail:hover {
    transform: scale(105%);
}